<h1><%= @post.title %></p>

<div class="row">
  <div class="col-md-8">
    <p><%= @post.body %></p>
  </div>
  <div class="col-md-4">
    <%= link_to "edit", edit_post_path(@post), class: 'btn btn-success' %>
  </div>
</div>
